.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide {
  position: relative;
  height: 320px; /* 높이 조절 */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.slide img {
  flex: 1; /* 이미지 영역이 전체 슬라이드의 반을 차지하도록 설정합니다. */
  position: relative;
  object-fit: cover;
  width: 50%;
  height: 98.5%;
  border-top-left-radius: 20px; /* 이 속성을 추가합니다. */
  border-bottom-left-radius: 20px; /* 이 속성을 추가합니다. */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.slide div {
  flex: 1; /* 텍스트 영역이 전체 슬라이드의 반을 차지하도록 설정합니다. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff; /* 배경색을 설정합니다. 원하는 색상으로 변경 가능합니다. */
  width: 90%; /* 이 속성을 추가합니다. */
  height: 81%;
  border-top-right-radius: 20px; /* 이 속성을 추가합니다. */
  border-bottom-right-radius: 20px; /* 이 속성을 추가합니다. */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.slide h2,
.slide h3 {
  position: absolute;
  z-index: 10;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.slide h2 {
  font-size: 20px;
  bottom: 70%;
}

.slide h3 {
  font-size: 20px;
  bottom: 70%;
}

/* 스크롤바 컨테이너 */
.swiper-scrollbar {
  position: absolute;
  bottom: 20px; /* 스크롤바의 위치를 조절합니다. 필요한 경우 값을 변경하세요. */
  left: 0;
  right: 0;
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 auto;
}

/* 스크롤바 드래그 요소 */
.swiper-scrollbar-drag {
  height: 100%;
  width: auto;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}