.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide {
  position: relative;
  height: 320px; /* 높이 조절 */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  @media only screen and (max-width:650px) {
    flex-direction: column; 
  }
}

.slide img {
  flex: 1.12; /* 이미지 영역이 전체 슬라이드의 반을 차지하도록 설정합니다. */
  position: relative;
  object-fit: cover;
  width: 50% !important;
  height: 98.5%;
  border-top-left-radius: 20px; /* 이 속성을 추가합니다. */
  border-bottom-left-radius: 20px; /* 이 속성을 추가합니다. */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
 @media only screen and (max-width:650px) {
    width: 100% !important;
    height: 49%;
    border-radius: 20px;
  }
}

.slide div {
  flex: 1; /* 텍스트 영역이 전체 슬라이드의 반을 차지하도록 설정합니다. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff; /* 배경색을 설정합니다. 원하는 색상으로 변경 가능합니다. */
  width: 50%; /* 이 속성을 추가합니다. */
  height: 98.5%;
  border-top-right-radius: 20px; /* 이 속성을 추가합니다. */
  border-bottom-right-radius: 20px; /* 이 속성을 추가합니다. */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  @media only screen and (max-width:650px) {
    width: 100% !important;
    height: 49%;
    border-radius: 20px;
  }
}

.slide h2,
.slide h3 {
  position: absolute;
  z-index: 10;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.slide h2 {
  font-size: 20px;
  bottom: 70%;
}

.slide h3 {
  font-size: 20px;
  bottom: 70%;
}

.slideShowContainer {
  position: relative;
  width: 100%;
  height: 320px;
}

.indicatorContainer {
  position: absolute;
  bottom: 10px; /* 인디케이터의 위치를 조정합니다 */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgb(204, 202, 202);
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.indicator.active {
  background-color: #000;
}

/* .slideShowContainer .carousel .slider-wrapper .carousel-slider .control-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slideShowContainer .carousel .slider-wrapper .carousel-slider .control-dots li {
  margin: 0 5px;
  cursor: pointer;
}

.slideShowContainer .carousel .slider-wrapper .carousel-slider .control-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: gray;
  transition: background-color 0.3s ease;
}

.slideShowContainer .carousel .slider-wrapper .carousel-slider .control-dots li.selected button {
  background-color: red;
} */

.customArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.customArrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.customArrowPrev {
  left: 20px;
}

.customArrowNext {
  right: 20px;
}
