.slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide div {
  position: absolute;
  bottom: 50px;
  text-align: center;
  color: #ffffff;
}

.slide h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.slide h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide p {
  font-size: 16px;
}
