/* styles.css */
.navbar .dropdown:hover .dropdown-menu {
    display: block;
  }

.navbar-hover .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  min-width: 20px;
  width: auto;
  max-height: 250px;
  overflow-y: auto;
  padding: 2px;
}

.navbar-dark .navbar-nav .nav-link.dropdown-toggle::after {
  display: none;
}

.navbar-brand {
  margin-left: calc(50% - 640px); /* 로고 위치 조정 */
  margin-right: calc(50% - 500px); /* 로고 위치 조정 */
}

.navbar-toggle {
  position: fixed;
  margin-left: calc(50% - 204px); /* 로고 위치 조정 */
  margin-right: calc(50% - 500px); /* 로고 위치 조정 */
  margin-top: 15px;
}

@media (max-width: 768px) {
  .navbar-brand, .navbar-toggle, .dropdown-menu {
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-nav {
    flex-direction: column;
  }
}

